<div class="mt-5">
  <form action="/sort" class="mb-4">
      <select name="sort" id="sort" onchange="submit()" style="width: 250px;">
        <option value="0">{{#if sortName}}{{ sortName }}{{else}}類別{{/if}}</option>
        <option value="1">家居物業</option>
        <option value="2">交通出行</option>
        <option value="3">休閒娛樂</option>
        <option value="4">餐飲食品</option>
        <option value="5">其他</option>
      </select>
  </form>

  <div class="total-amount d-flex mb-2">
    <span>總金額：</span>
    <h1 class="ms-4" style="color: #d57215; font-weight: 600;">{{ totalAmount }}</h1>
  </div>

  <table class="table table-striped" style="width: 400px;">
    <tbody>
      {{#each records}}
        <tr>
          <td style="vertical-align: middle; width: 5%;">
            <i class="{{ this.icon }}" style="color: #6ee2da;"></i>
          </td>
          <td style="width: 33%;">
            <p class="mb-0">{{ this.name }}</p>
            <span style="font-size: small;">{{ this.date }}</span>
          </td>
          <td style="width: 15%; vertical-align: middle; text-align: right;">{{ this.amount }}</td>
          <td class="ms-2" style="vertical-align: middle; text-align: right;">
            <a href="/records/edit/{{ this._id }}" style="text-decoration: none; color: black;">修改</a>
          </td>
          <td style="vertical-align: middle; text-align: center">
            <form action="/records/delete/{{ this._id }}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-light">
                刪除
              </button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div>
    <form action="/records/new">
      <button type="submit" class="btn px-5 ms-5 mt-4" style="background-color: #d57215; color: white;">
        新增支出
      </button>
    </form>
  </div>
</div>